{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="m-5">
        <h1 class="text-primary text-center">Test EUKLES</h1>
        <p class="my-5 text-center">Bienvenue !</p>
    </div>
</div>
{% endblock %}
