{% extends 'base.html.twig' %}

{% block title %}Hello MaterielController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-5 text-primary text-center">Créer un matériel</h1>

    {{ form_start(form, { 'attr': {'onsubmit':'return(validation())'} }) }}
        {# {{ form_widget(form) }} #}

        <div class="row">
            <div class="col-12">
                {{ form_row(form.name) }}
                <p id="constraint_name" class="text-danger"></p>
            </div>
            <div class="col-12">
                {{ form_row(form.price) }}
                <p id="constraint_price" class="text-danger"></p>
            </div>
        </div>


         <button class="btn btn-success mt-3" type="submit">Valider</button>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function validation() {
            var materiel = document.forms.materiel_form[0].value;
            var price = document.forms.materiel_form[1].value;
            
            if (materiel < 1) {
                document.getElementById("constraint_name").innerHTML = "Veuillez renseigner le nom du matériel.";
                document.forms.materiel_form[0].focus();
                return false;
            }

            if (price <= 0 || isNaN(price)) {
                document.getElementById("constraint_price").innerHTML = "Veuillez renseigner correctement le prix.";
                document.forms.materiel_form[1].focus();
                return false;
            }

            return (true);
        };
    </script>
{% endblock %}

