{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-5 text-primary text-center">Vente</h1>

    {{ form_start(form, { 'attr': {'onsubmit':'return(validation())'} })}}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.Client) }}
                <p id="constraint_client" class="text-danger"></p>
            </div>
            <div class="col-12">
                {{ form_row(form.Materiel) }}
                <p id="constraint_materiel" class="text-danger"></p>
            </div>
            <div class="col-12">
                {{ form_row(form.quantity) }}
                <p id="constraint_quantity" class="text-danger"></p>
            </div>
        </div>

        <button class="btn btn-success mt-3" type="submit">Valider</button>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function validation() {
            var client = document.forms.lien_form[0].value;
            var matériel = document.forms.lien_form[1].value;
            var quantity = document.forms.lien_form[2].value;

            if (client < 1) {
                document.getElementById("constraint_client").innerHTML = "Veuillez renseigner le client.";
                document.forms.lien_form[0].focus();
                return false;
            }

            if (client < 1) {
                document.getElementById("constraint_materiel").innerHTML = "Veuillez renseigner correctement le matériel.";
                document.forms.lien_form[1].focus();
                return false;
            }

            if (quantity <= 0 || isNaN(quantity)) {
                document.getElementById("constraint_quantity").innerHTML = "Veuillez renseigner une quantité correcte.";
                document.forms.lien_form[2].focus();
                return false;
            }

            return (true);
        };
    </script>
{% endblock %}