{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-5 text-primary text-center">Stats clients</h1>

    <div class="alert alert-success my-5" role="alert">
        <h3>Client le plus rentable</h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Client</th>
                <th scope="col">Total des ventes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ bestCustomer.0.name }}</td>
                    <td>{{ bestCustomer.0.total|number_format(2, ',', ' ') }} €</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-secondary" role="alert">
        <h3>Total des ventes par client</h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Client</th>
                <th scope="col">Total des ventes</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in allCustomers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.total|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</div>
{% endblock %}
