<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_client_stats') }}">Stats clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_client_add_materiel') }}">Nouvelle vente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_materiel_create') }}">Nouveau matériel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>